
<div class="container d-flex flex-row">
    <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
       
        <g>
         <title>background</title>
         <rect x="-1" y="-1" width="802" height="602" id="canvas_background" fill="#fff"/>
         <g id="canvasGrid" display="none">
          <rect id="svg_1" width="100%" height="100%" x="0" y="0" stroke-width="0" fill="url(#gridpattern)"/>
         </g>
        </g>
        <g>
         <title>Layer 1</title>
         
         <line fill="yellow" stroke="#000" stroke-width="1.5" x1="0" y1="180" x2="115" y2="180" id="svg_5" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" x1="0" y1="195" x2="115" y2="195" id="svg_6" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <ellipse fill="#fff" stroke="#000" stroke-width="1.5" cx="134" cy="189" id="svg_8" rx="19" ry="17"/>
         <line fill="none" stroke-width="1.5" x1="72" y1="267" x2="187" y2="267" id="svg_14" stroke-linejoin="undefined" stroke-linecap="undefined" transform="rotate(90 129.49999999999997,267.00000000000006) " stroke="#000"/>
         <line fill="none" stroke-width="1.5" x1="85" y1="267" x2="200" y2="267" id="svg_15" stroke-linejoin="undefined" stroke-linecap="undefined" transform="rotate(90 142.49999999999997,267.00000000000006) " stroke="#000"/>
         <line fill="none" stroke="#000" stroke-width="1.5" x1="155" y1="180" x2="401" y2="180" id="svg_16" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" x1="155" y1="195" x2="401" y2="195" id="svg_17" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <ellipse [attr.fill]="color" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" cx="419" cy="186.5" id="svg_18" rx="16" ry="13.5"/>
         <line fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="413" y1="173" x2="414" y2="65" id="svg_24" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="426" y1="172" x2="425" y2="63" id="svg_25" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="416" y1="201" x2="413" y2="338" id="svg_27" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="428" y1="201" x2="425" y2="338" id="svg_28" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" x1="288" y1="342" x2="403" y2="342" id="svg_42" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" x1="288" y1="357" x2="403" y2="357" id="svg_43" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <ellipse fill="#fff" stroke="#000" stroke-width="1.5" cx="422" cy="351" id="svg_44" rx="19" ry="17"/>
         <line fill="none" stroke-width="1.5" x1="360" y1="429" x2="475" y2="429" id="svg_45" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#000" transform="rotate(90 417.5,429.00000000000006) "/>
         <line fill="none" stroke-width="1.5" x1="373" y1="429" x2="488" y2="429" id="svg_46" stroke-linejoin="undefined" stroke-linecap="undefined" stroke="#000" transform="rotate(90 430.5,429.00000000000006) "/>
         <line fill="none" stroke="#000" stroke-width="1.5" x1="443" y1="342" x2="689" y2="342" id="svg_47" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" x1="443" y1="357" x2="689" y2="357" id="svg_48" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <ellipse fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" cx="707" cy="348.5" id="svg_49" rx="16" ry="13.5"/>
         <line fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="701" y1="335" x2="702" y2="227" id="svg_50" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="714" y1="334" x2="713" y2="225" id="svg_51" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="704" y1="363" x2="701" y2="500" id="svg_52" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <line fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" x1="716" y1="363" x2="713" y2="500" id="svg_53" stroke-linejoin="undefined" stroke-linecap="undefined"/>
         <path fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" opacity="0.5" d="m288,342" id="svg_55"/>
         <path fill="none" stroke="#000" stroke-width="1.5" stroke-opacity="null" fill-opacity="null" opacity="0.5" d="m314,415" id="svg_56"/>
         <ellipse ry="4.5" rx="5" id="svg_10" cy="152.5" cx="100" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl1R"/>
         <ellipse ry="4.5" rx="5" id="svg_11" cy="163.5" cx="100" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl1Y "/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_12" cy="173.5" cx="100" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl1G "/>
         <text x="172" y="175" fill="black">L1</text>   
         <text x="110" y="175" fill="black">L1</text>
         <ellipse ry="4.5" rx="5" id="svg_13" cy="151.5" cx="164" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl1R"/>
         <ellipse ry="4.5" rx="5" id="svg_19" cy="162.5" cx="164" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl1Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_20" cy="172.5" cx="164" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl1G"/>
    
    
         <ellipse ry="4.5" rx="5" id="svg_21" cy="211.5" cx="149" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl2R"/>
         <ellipse ry="4.5" rx="5" id="svg_22" cy="222.5" cx="149" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl2Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_23" cy="232.5" cx="149" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl2G"/>
    
         
         <ellipse ry="4.5" rx="5" id="svg_26" cy="217.5" cx="405" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl3R"/>
         <ellipse ry="4.5" rx="5" id="svg_29" cy="228.5" cx="405" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl3Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_30" cy="238.5" cx="405" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl3G"/>
         <text x="415" y="238" fill="black">L4</text>
         <ellipse ry="4.5" rx="5" id="svg_32" cy="162.5" cx="381" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl3R"/>
         <ellipse ry="4.5" rx="5" id="svg_31" cy="151.5" cx="381" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl3Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_33" cy="172.5" cx="381" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl3G"/>
         <text x="391" y="172" fill="black">L3</text>
    
         <ellipse ry="4.5" rx="5" id="svg_34" cy="151.5" cx="381" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl4R"/>
         <ellipse ry="4.5" rx="5" id="svg_35" cy="162.5" cx="381" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl4Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_36" cy="172.5" cx="381" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl4G"/>
         <text x="446" y="325" fill="black">L5</text>
         <ellipse ry="4.5" rx="5" id="svg_40" cy="304.5" cx="436" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl5R"/>
         <ellipse ry="4.5" rx="5" id="svg_41" cy="315.5" cx="436" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl5Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_54" cy="325.5" cx="436" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl5G"/>
         <!-- <text x="446" y="336" fill="black">L6</text> -->
         <ellipse ry="4.5" rx="5" id="svg_57" cy="364.5" cx="380" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl6R"/>
         <ellipse ry="4.5" rx="5" id="svg_58" cy="375.5" cx="380" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl6Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_59" cy="385.5" cx="380" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl6G"/>
         <text x="390" y="395" fill="black">L6</text>
         <ellipse ry="4.5" rx="5" id="svg_63" cy="311.5" cx="676" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl7R"/>
         <ellipse ry="4.5" rx="5" id="svg_64" cy="322.5" cx="676" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl7Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_65" cy="332.5" cx="676" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl7G"/>
         <text x="686" y="342" fill="black">L7</text>
         <ellipse ry="4.5" rx="5" id="svg_69" cy="391.5" cx="694" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl8R"/>
         <ellipse ry="4.5" rx="5" id="svg_70" cy="402.5" cx="694" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl8Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_71" cy="412.5" cx="694" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl8G"/>
         <text x="710" y="422" fill="black">L8</text>
         <ellipse ry="4.5" rx="5" id="svg_75" cy="289.5" cx="726" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl8R"/>
         <ellipse ry="4.5" rx="5" id="svg_76" cy="300.5" cx="726" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl8Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_77" cy="310.5" cx="726" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl8G"/>
         <text x="736" y="320" fill="black">L8</text>
         <ellipse ry="4.5" rx="5" id="svg_60" cy="387.5" cx="441" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl5R"/>
         <ellipse ry="4.5" rx="5" id="svg_61" cy="398.5" cx="441" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" stroke="#000" [attr.fill]="tl5Y"/>
         <ellipse stroke="#000" ry="4.5" rx="5" id="svg_62" cy="408.5" cx="441" fill-opacity="null" stroke-opacity="null" stroke-width="2.5" [attr.fill]="tl5G"/>
         <text x="452" y="418" fill="black">L5</text>
        </g>
       </svg>
       <div class="btn-container d-flex flex-column">
        <button mat-raised-button color="warn" (click)="changeColor()">changeColor</button>
        <button mat-raised-button color="warn" (click)="changeColorL2()">changeColorL2</button>
        <button mat-raised-button color="warn" (click)="changeColorL3()">changeColorL3</button>
        <button mat-raised-button color="warn" (click)="changeColorL4()">changeColorL4</button>
      
        <button mat-raised-button color="warn" (click)="changeColorL5()">changeColorL5</button>
        <button mat-raised-button color="warn" (click)="changeColorL6()">changeColorL6</button>
        <button mat-raised-button color="warn" (click)="changeColorL7()">changeColorL7</button>
        <button mat-raised-button color="warn" (click)="changeColorL8()">changeColorL8</button>
       </div>
</div>
