<div class="bg-container">
    <div class="container">
        <div class="row ">
            <div class="col-lg-1"></div>
           <div class="col-lg-4 d-flex flex-column info-container">
                <h1 class="home-heading">
                    Traffic Control
                </h1>
                <p class="text-content">
                    This website is designed for controlling Traffic and other emergency situations
                </p>
                <button mat-raised-button color="primary" >Login</button>
           </div>
           <div class="col-lg-1"></div>
           <div class="col-lg-6 d-flex flex-column justify-content-end">
               <div class="img-container">
                <img class="home-img" src="https://cdn.pixabay.com/photo/2012/04/01/19/26/red-24177_960_720.png" alt="" srcset="">
               </div>
              
           </div>
        </div>
    </div>
</div>

<div class="container">
    
    <h1 class="mission-heading"> Mission</h1>
    <div class="d-flex flex-row">
        
        <p class="mission-para col-lg-6">
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ratione cum nulla vitae voluptas ex amet facere, et aperiam nisi unde officia dignissimos placeat fugiat atque iusto laborum minus obcaecati.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eveniet porro illo est, mollitia eum deleniti ad, blanditiis nisi facilis aperiam voluptate, dolorem sequi facere vero at obcaecati! Dolor, delectus.
            
        </p>
        <!-- <div class="col-lg-2"></div> -->
        <div class="d-flex flex-row justify-content-end">
            <img  src="https://cdn.pixabay.com/photo/2014/07/10/10/21/traffic-jam-388924_960_720.jpg" class="mission-img">
        </div>
        
    </div>
</div>