<div class="container-fluid footer">
    <div class="container ">
        <div class="row">
            <div class="col-lg-4 colg">
                <h1 class ="heading">
                    Traffic Control App
                </h1>

            </div>
            <div class="col-lg-4 colg">
                <h3>Tangudu Sanjay</h3>
                <h3>ts19@iitbbs.ac.in</h3>
                <br/>
                <h3>Chinthala Srujan</h3>
                <h3>cs16@iitbbs.ac.in</h3>
            </div>
            <div class="col-lg-4 colg">
                <h3>Maddi Vasmhi Krishna</h3>
                <h3>mvk15@iitbbs.ac.in</h3>
                <br/>
                <h3>Arava Ratna Jagadeesh</h3>
                <h3>arj15@iitbbs.ac.in</h3>
            </div>
        </div>
    </div>
</div>